.porcent-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}
.skills {
    text-align: left; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-left: 20px;
    color: white; /* White text color */
}

.html {width: 95%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.c {width: 50%; background-color: #808080;} /* Dark Grey */